{% assign available = grid_product.available %}

{% if template != "product.quickorder" and template != "search.quickorder" %}
<div class="large-12">
{% endif %}
    <div class="product-item-wrapper product-grid-item quickorder row" data-add2cart-container data-product-wrapper data-sku="{{grid_product.variants.first.sku}}" data-handle="{{grid_product.handle}}" data-product-id="{{grid_product.id}}">    
      	<a href="#" class="qo-remove"><i class="fas fa-times"></i></a>
        <input type="hidden" class="qo-selected" value="0:0">
      
      	{% if template == "product.quickorder" or template == "search.quickorder" %}
      		<div class="qo-sku medium-3 small-11 columns">
              <input type="text" readonly value="{{grid_product.variants.first.sku}}">
      		</div>
      	{% endif %}

        <div class="qo-img large-1 small-5 columns">          	
            {% if grid_item_display_badge %}                     
                {% include 'product-badge', badge_product: grid_product %}            
            {% endif %}
            {% if grid_item_quick_view %}
          		<a href="#" class="product-quick-view" data-readonly data-handle="{{grid_product.handle}}" }data-variant="{{grid_variant.id}}">
          	{% else %}
          		<a href="{{shop.url}}{{grid_product.url}}?variant={{grid_product.variants.first.id}}" target="_blank">
          	{% endif %}
                {% include 'image-tag',
                    image_tag_src : grid_item_img,
                    image_tag_alt: grid_item_img.alt
                    image_tag_sizing: "100x",
                    image_tag_classes: grid_item_image_classes %}</a>
          	</a>
        </div>
      	{% if template == "product.quickorder" or template == "search.quickorder" %}          
      		<div class="qo-product large-3 small-7 columns">
      	{% else %}
        	<div class="qo-product large-5 small-7 columns">
        {% endif %}
          <div class="qo-product-title"><a href="{{shop.url}}{{grid_product.url}}?variant={{grid_product.variants.first.id}}" target="_blank">{{grid_item_title}}</a></div>
            {% if grid_variant and grid_variant != empty %}
                {% assign available = grid_variant.available %}
                <input type="hidden" class="qo-variant" name="id" value="{{ grid_variant.id }}">
            {% elsif grid_product.variants.size > 1 and grid_product.options.first != 'Title' and grid_product.variants.first.title != 'Default Title' %}      
                <div class="qo-variants">
                    <select class="qo-variant" name="id">
                        {% for grid_product_variant in grid_product.variants %}
                            {% if grid_product_variant.available %}
                                <option value="{{grid_product_variant.id}}">{{grid_product_variant.title}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <input type="hidden" class="qo-variant" name="id" value="{{ grid_product.variants.first.id }}">     
            {% endif %}
          	<p class="sku hide-desktop">Item # {{grid_product.variants.first.sku}}</p>
        </div>
        
      	{% if template == "product.quickorder" or template == "search.quickorder" %}          
          {% if grid_item_display_quantity %}
              <div class="qo-quantity large-3 small-5 text-center" data-add2cart-container>
                {% if grid_product.price != 0 %}
                  <div class="selector-wrapper">                    
                        <div class="product-quantity input-group input-number-group">
                            <div class="input-group-button">
                            <span class="input-number-decrement input-number-decrement-global">-</span>
                            </div>
                            <input class="product-item-quantity input-number" type="number" name="quantity" value="{{grid_item_quantity_min}}" min="{{grid_item_quantity_min}}">
                            <div class="input-group-button">
                            <span class="input-number-increment input-number-increment-global">+</span>
                            </div>
                        </div>
                    </div>
                  {% if grid_item_add2cart %}
                      {% include 'product-item-form', hide_container: true, product_item: grid_product, product_item_variant: grid_item_variant, swatches: grid_item_swatches %}            
                  {% endif %}
                {% endif %}
              </div>
          {% else %}
              <input id="quantity" type="hidden" name="quantity" value="1" min="1">
          {% endif %}
          <div class="qo-price large-2 small-7 text-center columns">
            {% if grid_product.price != 0 %}
              {% include 'product-pricing', price_product: grid_product, price_data: grid_item_data, add2Cart: true %}       

              {% if grid_product.metafields.arbor.QTYpricingQTYtier1 and grid_product.metafields.arbor.QTYpricingQTYtier1 != "" %}
              	<div class="grid-save">Buy {{grid_product.metafields.arbor.QTYpricingQTYtier1}} and pay {{grid_product.metafields.arbor.QTYpricingAMTtier1 | times: 100.0 | money }} each!</div>
              {% endif %}
            {% endif %}
          </div>
      	{% else %}
          <div class="qo-price large-3 small-6 text-right columns">
              {% if grid_product.price != 0 %}
                  {% include 'product-pricing', price_product: grid_product, price_data: grid_item_data, add2Cart: true %}       

                {% if grid_product.metafields.arbor.QTYpricingQTYtier1 and grid_product.metafields.arbor.QTYpricingQTYtier1 != "" %}
                    <div class="grid-save">Buy {{grid_product.metafields.arbor.QTYpricingQTYtier1}} and pay {{grid_product.metafields.arbor.QTYpricingAMTtier1 | times: 100.0 | money }} each!</div>
                {% endif %}
              {% endif %}
          </div>
          {% if grid_item_display_quantity %}
              <div class="qo-quantity large-3 small-3 text-center" data-add2cart-container>
                {% if grid_product.price != 0 %}
                  <div class="selector-wrapper">                    
                        <div class="product-quantity input-group input-number-group">
                            <div class="input-group-button">
                            <span class="input-number-decrement input-number-decrement-global">-</span>
                            </div>
                            <input class="product-item-quantity input-number" type="number" name="quantity" value="{{grid_item_quantity_min}}" min="{{grid_item_quantity_min}}">
                            <div class="input-group-button">
                            <span class="input-number-increment input-number-increment-global">+</span>
                            </div>
                        </div>
                    </div>
                  {% if grid_item_add2cart %}
                      {% include 'product-item-form', hide_container: true, product_item: grid_product, product_item_variant: grid_item_variant, swatches: grid_item_swatches %}            
                  {% endif %}
                {% endif %}
              </div>
          {% else %}
              <input id="quantity" type="hidden" name="quantity" value="1" min="1">
          {% endif %}
      	{% endif %}
    </div>
{% if template != "product.quickorder" and template != "search.quickorder" %}
  </div>
{% endif %}

{% include 'pricing-data', pricing_data_type: "product", pricing_data_product: grid_product %}