{% for block in section.blocks %}
    {% if block.type contains "related-" %}              
        <div id="prod-content-related-{{block.id}}" class="small-12 medium-12 large-12 expanded related-products-qv-{{block.settings.quick_view}} prod-content-related prod-content-related-{{block.type}}" data-related-products="{{block.type}}" {{block.shopify_attributes}}>        
            <h2 class="text-center">{{block.settings.title}}</h2>
            {% if block.type == "related-handle-tag" %}
                {% include 'product-related-tag-handle' %}
            {% elsif block.type == "related-tags" %}
                {%include 'product-related-tag-shared' %}
            {% elsif block.type == "related-handles" %}
                {% include 'product-related-handles' %}
            {% elsif block.type == "related-collection" %}
                {% include 'product-related-collection' %}
            {% elsif block.type == "related-metafield" %}
                {% include 'product-related-metafield' %}
            {% endif %}            
        </div>        
    {% endif %}
{% endfor %}