<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {{ content_for_header }}

  {% include 'shogun-head' %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  {% include 'page-handle' %}
  <main id="MainContent" class="{{ template.name | handle }}-{{page_handle}}">
    {{ content_for_layout }}
  </main>

</body>
</html>