{% comment %}
- Image with text section
- Each block is a "pair" of image and text settings
{% endcomment %}
<div class="row" data-section-id="{{section.id}}" data-section-type="image-with-text">
    <div class="{% if section.settings.wide %}small-12{% else %}small-10 small-offset-1{% endif %}">
        <div class="image-with-text across-{{section.settings.pairs_per_row}} image-align-{{ section.settings.image_position }} {% if section.settings.margins %}image-text-margins{% endif %}">
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                  {% include 'opacity-inverse', transparency: block.settings.opacity %}

                  <div class="{{block.settings.height}} image-text-pair image-text-pair-{{ forloop.index }}" {{ block.shopify_attributes }}>
                    
                    <div class="image-text-half img {{block.settings.width}} {{block.settings.width_mobile}}">
                      <div class="image-text-img">
                          <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
                          {% if block.settings.image %}
                              {% if block.settings.image.alt != blank %}
                                  {% assign image_tag_alt = block.settings.image.alt | escape %}
                              {% else %}
                                  {% assign image_tag_alt = block.settings.title | escape %}
                              {% endif %}
                              {% capture img_tag_classes %}full-width-image{% endcapture %}
                              {% include 'image-tag',
                                  bg_src : {{block.settings.image | img_url: '100x'}},
                                  image_tag_alt: dyno_block_header,
                                  image_tag_classes: img_tag_classes %}                                    
                          {% else %}
                              {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                              {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                          {% endif %}
                          </a>
                      </div>
                    </div>
                    <div class="{{block.settings.text_align}} text-size-{{block.settings.text_size}} {{block.settings.text_position}} image-text-half txt {{block.settings.classes}} bg-overlay-container" style="{% if block.settings.color and block.settings.color != emtpy %}color:{{block.settings.color}};{% endif %}">
                      {%- if block.settings.bgcolor != "" -%}
                        <div class="bg-overlay" style="background-color:{{block.settings.bgcolor}};opacity:{{opacity}};"></div>
                      {%- elsif section.settings.bgcolor != "" -%}
                          <div class="bg-overlay" style="background-color:{{section.settings.bgcolor}};opacity:{{opacity}};"></div>
                      {%- endif -%}	
                      <div class="padding-small image-text-txt">
                        {% if block.settings.content_image and block.settings.content_image != empty %}
                          <div class="bg-overlay-image">
                            {% include 'image-tag',
                                bg_src : {{block.settings.content_image | img_url: '600x'}},
                                image_tag_alt: block.settings.title,
                                image_tag_classes: img_tag_classes %}                              
                          </div>
                        {% endif %}
                        <div class="bg-overlay-text-header">                          
                          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
                            {{ block.settings.title }}
                          {% if block.settings.link != blank %}</a>{% endif %}
                        </div>
                        {% if block.settings.text != blank %}
                          <div class="bg-overlay-text-content">{{ block.settings.text }}</div>
                        {% endif %}
                        {% if block.settings.button_label != blank %}
                        <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="{{block.settings.button_color}} {{block.settings.button_style}} button {% if block.settings.button_full_width %}full-width{% endif %}">
                            {{ block.settings.button_label }}
                        </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "class": "section-image-with-text",
  "max_blocks": 16,
  "settings": [
    {
      "type": "header",
      "content": "Display Settings"          
    },  
    {
      "type": "select",
      "id": "pairs_per_row",
      "label": "Pairs per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "wide",
      "label": "Wide display",
      "default":true
    },
    {
      "type": "checkbox",
      "id": "margins",
      "label": "Margins",
      "info": "Spaced grid if 'Pairs per row' is set to 1"
    },    
    {
      "type": "select",
      "id": "image_position",
      "label": "First image position",
      "info": "Subsequent images will appear staggered",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image with text",
      "settings": [
        {
          "type": "header",
          "content": "Image Settings"          
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Image Width",
          "default":"large-6",
          "options": [
            {
              "value": "large-6",
              "label": "One-Half"
            },
            {
              "value": "large-4",
              "label": "One-Third"
            },
            {
              "value": "large-3",
              "label": "One-Quarter"
            },
            {
              "value": "large-8",
              "label": "Two-Thirds"
            },
            {
              "value": "large-9",
              "label": "Three-Quarters"
            }
          ]
        },
        {
          "type": "header",
          "content": "Text/Content"          
        },
        {
            "type": "image_picker",
            "id": "content_image",
            "label": "Image"          
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your title"
        },
        {
          "type": "html",
          "id": "text",
          "label": "Text",
          "default": "<p>Your content here.</p>"
        },
        {
          "type": "header",
          "content": "Button Settings"          
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Read more"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Button color",
          "default":"primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            },
            {
              "value": "white",
              "label": "White"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default":"fill",
          "options": [
            {
              "value": "fill",
              "label": "Fill"
            },
            {
              "value": "hollow",
              "label": "Hollow"
            },
            {
              "value": "underline",
              "label": "Underline"
            }
          ]
        },                
        {
          "type": "checkbox",
          "id": "button_full_width",
          "label": "Full-Width"
        },
        {
          "type": "header",
          "content": "Display Settings"          
        },
        {
            "type": "color",
            "id": "bgcolor",
            "label": "Background Color"                
        },
        {
            "type": "range",
            "id": "opacity",
            "label": "Background Transparency",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 30,
            "unit": "%"        
        },   
        {
          "type": "select",
          "id": "height",
          "label": "Height",
          "default": "height-small",
          "options": [
            {
              "value": "height-small",
              "label": "Small"
            },
            {
              "value": "height-medium",
              "label": "Medium"
            },
            {
              "value": "height-large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text Size",                
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 1
        }, 
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "default":"text-center",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "default":"content-center-center",
          "options": [
            {
              "value": "content-top-left",
              "label": "Top Left"
            },
            {
              "value": "content-top-center",
              "label": "Top Center"
            },
            {
              "value": "content-top-right",
              "label": "Top Right"
            },
            {
              "value": "content-center-left",
              "label": "Center Left"
            },
            {
              "value": "content-center-center",
              "label": "Center Center"
            },
            {
              "value": "content-center-right",
              "label": "Center Right"
            },
            {
              "value": "content-bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "content-bottom-center",
              "label": "Bottom Center"
            },
            {
              "value": "content-bottom-right",
              "label": "Bottom Right"
            }
          ]
        },          
        {
            "type": "text",
            "id": "classes",
            "label": "CSS Classes",
            "info": "Advanced"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image with Text",
    "category": "Image",    
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}