{% include 'content-transformations', content_transform: page.content %}
{% assign page_img = blank %}
{% if section.settings.page_img != blank %}
  {% assign page_img = section.settings.page_img %}
{% endif %}
{% for block in section.blocks %}
	{% if block.type == "page_header" and block.settings.page == page.handle and block.settings.page_img != blank %}
		{% assign page_img = block.settings.page_img %}
		{% break %}
	{% endif %}
{% endfor %}

{% include 'opacity-inverse', transparency: section.settings.banner_opacity %}

{% assign blog1 = blogs["cool"] %}
{% assign blog2 = blogs["cool-labs"] %}
{% assign blog3 = blogs["cool-videos"] %}
{% assign blog4 = blogs["news"] %}

<div class="bg-overlay-container">
  {%- if section.settings.banner_color != "" -%}
      <div class="bg-overlay" style="background-color:{{section.settings.banner_color}};opacity:{{opacity}};"></div>
  {%- endif -%}

  {%- if page_img != nil -%}
      <div class="bg-img" style="background-image:url({%- include 'image-src', image_src: page_img, image_src_sizing: "2048x" %});"></div>
  {%- endif -%}

  <div class="bg-overlay-content text-center">
    {% if section.settings.display_title_img %}<h1>{{ page.title }}</h1>{% endif %}
  </div>
</div>

{% unless section.settings.display_title_img %}
  <div class="large-12 small-12 columns text-center">
    <h1>{{page.title}}</h1>
  </div>
{% endunless %}

<div class="row max-width" data-section-id="{{ section.id }}" data-section-type="page">

  {% include 'breadcrumbs' %}
  
  <div class="small-12 {{section.settings.page_canvas_classes}} columns  page-container">

<!--   {{ page.content }} -->
       {%for featured in blog1.articles%}
      	{% if forloop.first == true %}
          <div class="row">
          	<div class="small-12 medium-4 columns">
              <a class="image-pg" href="{{article.url}}">
              <img src="{{featured.image | img_url: "500x"}}" alt="{{article.title | escape}}" class="">
              </a>
              <h5><a href="{{featured.url}}">{{article.title}}</a></h5>
        	</div>

            <div class="columns small-12 medium-8">
                <h3 class="arbor-blog-title">Featured Blog</h3>
                {{featured.content | strip_html | truncatewords: 100}}
                <a href="{{featured.url}}">read more</a>
             </div>
          </div>
 
      	{% endif %}
      {%endfor%}
  </div>
</div>


<div class="row of-posts">
  <div class="large-12 text-center">
    <h3 class="arbor-blog-title">{{blog1.title}}</h3>
  </div>
  
  {% for article in blog1.articles limit: 4 %}
    <div class="large-3 small-12 columns">
      <a class="image-pg" href="{{article.url}}">
        <img src="{{article.image | img_url: "500x"}}" alt="{{article.title | escape}}" class="">
      </a>
      <h5><a href="{{article.url}}">{{article.title}}</a></h5>
    </div>
  {% endfor %}
  <div class="large-12 text-center"><a href="{{blog1.url}}" class="button primary">View all {{blog1.title}}</a></div>
</div>

<div class="row of-posts">
  <div class="large-12 text-center"> 
  	<h3 class="arbor-blog-title">{{blog2.title}}</h3>
  </div>

	{% for article in blog2.articles limit: 4 %}
    	<div class="large-3 small-12 columns">
          <a class="image-pg" href="{{article.url}}">
            <img src="{{article.image | img_url: "500x"}}" alt="{{article.title | escape}}" class="">
          </a>
          <h5><a href="{{article.url}}">{{article.title}}</a></h5>
      	</div>
    {% endfor %}
    <div class="large-12 text-center"><a href="{{blog2.url}}" class="button primary">View all {{blog2.title}}</a></div>
</div>

<div class="row of-posts">
  <div class="large-12 text-center"> 
  	<h3 class="arbor-blog-title">{{blog3.title}}</h3>
  </div>

	{% for article in blog3.articles limit: 4 %}
    	<div class="large-3 small-12 columns">
          <a class="image-pg" href="{{article.url}}">
            <img src="{{article.image | img_url: "500x"}}" alt="{{article.title | escape}}" class="">
          </a>
          <h5><a href="{{article.url}}">{{article.title}}</a></h5>
      	</div>
    {% endfor %}
    <div class="large-12 text-center"><a href="{{blog3.url}}" class="button primary">View all {{blog3.title}}</a></div>
</div>

<div class="row of-posts">
  <div class="large-12 text-center"> 
  	<h3 class="arbor-blog-title">{{blog4.title}}</h3>
  </div>

	{% for article in blog4.articles limit: 4 %}
    	<div class="large-3 small-12 columns">
          <a class="image-pg" href="{{article.url}}">
            <img src="{{article.image | img_url: "500x"}}" alt="{{article.title | escape}}" class="">
          </a>
          <h5><a href="{{article.url}}">{{article.title}}</a></h5>
      	</div>
    {% endfor %}
    <div class="large-12 text-center"><a href="{{blog4.url}}" class="button primary">View all {{blog4.title}}</a></div>
</div>


{% schema %}
  {
    "name": "Blogs Overview",
    "settings": [	         
      {
        "type": "header",
        "content": "Banner Options"
      },
      {
          "type": "image_picker",
          "id": "page_img",
          "label": "Default Page Banner"
      },      
      {
          "type": "color",
          "id": "banner_color",
          "label": "Overlay Color",
          "default": "#EEEEEE"              
      },
      {
          "type": "range",
          "id": "banner_opacity",
          "label": "Overlay Color Transparency",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 30,
          "unit": "%"        
      },        
      {
        "type": "checkbox",
        "id": "display_title_img",
        "label": "Display Title On Header Image",
        "default": true
      },
      {
        "type": "header",
        "content": "Display Options"
      },
      {
        "type": "checkbox",
        "id": "enable_breadcrumbs",
        "label": "Enable Breadcrumbs",
        "default": true
      },      
      {
        "type": "textarea",
        "id": "page_canvas_classes",
        "label": "Page Area Classes",
        "default": "small-12 medium-9 large-9"
      }
	],
	"blocks":[
	    {
		    "type": "page_header",
				"name": "Page Header Image",
				"settings":[    		        
		        	{
			          "type": "text",
			          "id": "title",
					      "label": "Block Label"
			        },
		        	{
			          "type": "page",
			          "id": "page",
					      "label": "The page to have this header"
			        },
			        {
			          "type": "image_picker",
			          "id": "page_img",
					      "label": "The header image to use"
			        }
				]
		}
	]
}
{% endschema %}