{% include 'content-transformations', content_transform: page.content %}
{% assign page_img = blank %}
{% if section.settings.page_img != blank %}
  {% assign page_img = section.settings.page_img %}
{% endif %}

{% include 'opacity-inverse', transparency: section.settings.banner_opacity %}

<div class="bg-overlay-container">
  {%- if section.settings.banner_color != "" -%}
      <div class="bg-overlay" style="background-color:{{section.settings.banner_color}};opacity:{{opacity}};"></div>
  {%- endif -%}

  {%- if page_img != nil -%}
      <div class="bg-img" style="background-image:url({%- include 'image-src', image_src: page_img, image_src_sizing: "2048x" %});"></div>
  {%- endif -%}

  <div class="bg-overlay-content text-center">
    {% if section.settings.display_title_img %}<h1>{{ page.title }}</h1>{% endif %}
  </div>
</div>

{% unless section.settings.display_title_img %}
  <div class="large-12 small-12 columns text-center">
    <h1>{{page.title}}</h1>
  </div>
{% endunless %}

<div class="row max-width" data-section-id="{{ section.id }}" data-section-type="page">

  {% include 'breadcrumbs' %}
  
  <div class="small-12 {{section.settings.page_canvas_classes}} columns  page-container">

    <div class="rte">
      {{ page.content }}
    </div>
    
    {% form 'contact' %}
  
        {% if form.posted_successfully? %}
            <p class="form-success">
            {{ 'contact.form.post_success' | t }}
            </p>
        {% endif %}

        {{ form.errors | default_errors }}

        <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
        <input type="text"
            name="contact[name]"
            id="ContactFormName"
            placeholder="{{ 'contact.form.name' | t }}"
            value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

        <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
        <input type="email"
            name="contact[email]"
            id="ContactFormEmail"
            placeholder="{{ 'contact.form.email' | t }}"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">

        <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
        <input type="tel"
            name="contact[phone]"
            id="ContactFormPhone"
            placeholder="{{ 'contact.form.phone' | t }}"
            value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            pattern="[0-9\-]*">

        <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
        <textarea rows="10"
            name="contact[body]"
            id="ContactFormMessage"
            placeholder="{{ 'contact.form.message' | t }}">
            {% if form.body %}
            {{ form.body }}
            {% endif %}
        </textarea>

        <input type="submit" class="button" value="{{ 'contact.form.send' | t }}">

    {% endform %}
    
  </div>
  
</div>


{% schema %}
  {
    "name": "Contact Page Settings",
    "settings": [	         
      {
        "type": "header",
        "content": "Banner Options"
      },
      {
          "type": "image_picker",
          "id": "page_img",
          "label": "Page Banner"
      },      
      {
          "type": "color",
          "id": "banner_color",
          "label": "Overlay Color",
          "default": "#EEEEEE"              
      },
      {
          "type": "range",
          "id": "banner_opacity",
          "label": "Overlay Color Transparency",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 30,
          "unit": "%"        
      },        
      {
        "type": "checkbox",
        "id": "display_title_img",
        "label": "Display Title On Header Image",
        "default": true
      },
      {
        "type": "header",
        "content": "Display Options"
      },
      {
        "type": "checkbox",
        "id": "enable_breadcrumbs",
        "label": "Enable Breadcrumbs",
        "default": true
      },      
      {
        "type": "textarea",
        "id": "page_canvas_classes",
        "label": "Page Area Classes",
        "default": "small-12 medium-9 large-9"
      }
	]
}
{% endschema %}